

header{justify-content: space-between;
align-items: center;}

.sfondo1{background-image: url(./media/sfondo1.jpg);
height: 100vh;
background-position: center;
background-size: cover;
display: flex;
flex-direction: column;
justify-content: center;}

h1,h2,h3,h4{color: white;}

p{color: white;}

.logo{height: 40px;
margin-bottom: 50px;
margin-top: 100px;}

.data{margin-top: 50px;}

.logo-arcade{height: 400px;
margin-top: 100px;}

.inscriviti{margin-top: 20px;
color: yellow;
border: 2px solid yellow;
display: flex;
border-radius: 8px;
margin-left: 0px;}


.sfondo2{background-color: rgb(32, 32, 83);
height: 80vh;
display: flex;
flex-direction: column;
justify-content: center;}


.sfondo3{background-image: url(./media/bg-2.jpg);
height: 100vh;
background-position: center;
background-size: cover;
display: flex;
flex-direction: column;
justify-content: center;}

.carta{background-color: rgb(25, 25, 69);}


.logo-fut{width: 250px;}


.sfondo4{background-color: rgb(49, 23, 74);
height: 60vh;
background-position: center;
background-size: cover;
display: flex;
flex-direction: column;
justify-content: center;}


.sfondo5{background-image: url(./media/bg-3.jpg);
height: 80vh;
background-position: center;
background-size: cover;
display: flex;
flex-direction: column;
justify-content: center;}

.marco{height: 300px;}


.t-giallo{color: yellow;}


footer{background-color: gray;
height: 15px;
font-size: 10px;}
